.bg{
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
    background-image: url(../images/bgSection3/Frame@1x.jpg);
    background-position: center;
    @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx){
background-image: url(../images/bgSection3/Frame@2x.jpg)
  }
}