.categories-container{
    overflow: hidden;
}

.categories-list{
    display: flex;
    align-items: center;
}
.categories-item{
    position: relative;
    flex-basis: calc(100% / 3);

    &:nth-child(1){
        flex-shrink: 0.8;
            margin-left: -30px;
    }
    &:nth-child(2){
        flex-grow: 1;
    }
    &:nth-child(3){
flex-shrink: 0.8;
    }
}

.categories-img{
    
    height: 518px;
    margin: 0;

    &:nth-child(2){
        width: 480px;
    }
}

.categories-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:150px ;
    height:150px ;
    padding: 60px 33px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
font-size: 13px;
line-height: 1.5;
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
}